{% extends "polls/base.html" %}
{% load static %}
{% block title %}Администратор{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/admin_page.css' %}">
{% endblock %}
{% block content %}

<body>
    <div class='split-pane col-xs-12 col-sm-6 uiux-side'
        style="background-image: url('{% static 'polls/images/website-post-its.png' %}');">
        <div>
            <div class='text-content'>
                <div class="bold">Управление</div>
                <div class='big'>ТЕСТАМИ</div>
            </div>
            <ul>
                <li>
                    <form action="/polls/">
                        <button type="submit">УПРАВЛЕНИЕ ТЕСТАМИ</button>
                    </form>
                </li>
                <li style="visibility: hidden;">
                    <form action="/poll/create/">
                        <button type="submit">ПРОЙТИ ТЕСТ</button>
                    </form>
                </li>

            </ul>

        </div>
    </div>
    <div class='split-pane col-xs-12 col-sm-6 frontend-side'
        style="background-image: url('{% static 'polls/images/website-students.png' %}');">
        <div>
            <div class='text-content'>
                <div class="bold">Управление</div>
                <div class='big'>ПОЛЬЗОВАТЕЛЯМИ</div>
            </div>
            <ul>
                <li>
                    <form action="/students/">
                        <button type="submit">УПРАВЛЕНИЕ СТУДЕНТАМИ</button>
                    </form>
                </li>
                <li>
                    <form action="/groups/">
                        <button type="submit">УПРАВЛЕНИЕ ГРУППАМИ</button>
                    </form>
                </li>
            </ul>

        </div>
    </div>
    <div id='split-pane-or'>
        <a href={% url 'accounts:logout' %} class="button-logout"> Выйти</a>
    </div>
</body>

{% endblock %}