{% extends "polls/base.html" %}
{% load static %}
{% block title %}Admin{% endblock %}
{% block style %} 
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/admin.css' %}">
{% endblock %}
{% block content %}

<body>
    <div class='split-pane col-xs-12 col-sm-6 uiux-side' style="background-image: url('{% static 'polls/images/website-post-its.png' %}');">
        <div>
            <div class='text-content'>
                <div class="bold">Управление</div>
                <div class='big'>ТЕСТАМИ</div>
            </div>
            <br>
            <br>
            <ul>
                <li>
                    <form action="/poll/create/">
                        <button type="submit">СОЗДАТЬ ТЕСТ</button>
                    </form>
                <li><button>
                        ИЗМЕНИТЬ ТЕСТ
                    </button></li>
                <li><button>
                        УДАЛИТЬ ТЕСТ
                    </button></li>
            </ul>

        </div>
    </div>
    <div class='split-pane col-xs-12 col-sm-6 frontend-side' style="background-image: url('{% static 'polls/images/website-students.png' %}');">
        <div>
            <div class='text-content'>
                <div class="bold">Управление</div>
                <div class='big'>ПОЛЬЗОВАТЕЛЯМИ</div>
            </div>
            <br>
            <br>
            <ul>
                <li><button>
                        ДОБАВИТЬ СТУДЕНТА
                    </button></li>
                <li><button>
                        ИЗМЕНИТЬ/УДАЛИТЬ СТУДЕНТА
                    </button></li>
                <li><button>
                        УПРАВЛЕНИЕ ГРУППАМИ
                    </button></li>
            </ul>

        </div>
    </div>
    <div id='split-pane-or'>
        <a href={% url 'accounts:logout' %} class="button-logout"> Выйти</a>
    </div>
</body>

{% endblock %}