{% extends 'polls/base.html' %}

{% load static %}

{% block title %}{{group.group_name}}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/poll_create.css' %}">
{% endblock %}

{% block content %}

<body style="background-image: url('{% static 'polls/images/prism.png' %}'); background-repeat: repeat">
    {% if form.errors %}
    <div class='div-errors container'>
        {% for field, error in form.errors.items %}
        {{error}}
        {% endfor%}
    </div>
    {% endif%}
    <div class='container group-form'>
        <div class='quit_btn'>
            <form action="/groups/">
                <button type="submit" class='fa fa-home'></button>
            </form>
        </div>
        <span style="float:left; margin-left: 35%; font-weight: 1000;">{{group.group_name}} </span>
        <div>
            <button type="submit" class='fa fa-save save_btn' onclick="return confirm('Сохранить изменения?');"
                form="group_form"></button></div>

        <div class='div-form'>
            <form id='group_form' action="/groups/group/{{group.id}}" method="POST" class='test_form'>
                <div class="group ">
                    {{form.group_name}}
                    <span class="bar"></span>
                    <label>Название группы*</label>
                </div>
                <div style="text-align:left; margin-left: 20%">
                    <span style="margin-left:2%; font-weight: 1000;">Студенты в группе:*</span>
                    <br>
                    {{form.group_student}}
                </div>
                <br>
                <br>
                {% csrf_token %}
                <input id='save_hide' type="submit" value='SaveHidden' style='display: none'>
            </form>
            <div>
                <div class='delete_btn' style="width: 100%; border-radius: 0px 0px 10px 10px;">
                    <form action="/groups/group/{{group.id}}/delete">
                        <button type="submit" onclick="return confirm('Удалить группу?');">УДАЛИТЬ ГРУППУ</button>
                    </form>
                </div>
            </div>

        </div>

    </div>

</body>

{% endblock %}