{% extends 'polls/base.html' %}

{% load static %}

{% block title %}{{poll.poll_name}}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/poll_pass.css' %}">
{% endblock %}

{% block content %}

<body style="background-image: url('{% static 'polls/images/prism.png' %}'); background-repeat: repeat">
    <div class='container group-form'>

        <div class='quit_btn'>
            <form action="/students/">
                <button type="submit" class='fa fa-home'></button>
            </form>
        </div>
        <span style="float:left; margin-left: 35%;">{{poll.poll_name}}</span>
        
        <div>
            <button type="submit" class='fa fa-save save_btn' onclick="return confirm('Вы уверены, что хотите закончить тест?');"
                form="group_form"></button>
        </div>

        <div class='div-form'>
            <form id='group_form' action="/student_page/{{request.user.id}}/poll/{{poll.id}}" method="POST">
                <br>
                {% for question in questions %}
                <hr>
                <span style="float: left; margin-left: 25%; background-color: white;">{{question.question_text}}</span>

                <div style="text-align:left; margin-left: 25%; width: 50%; height: 150%;" class="form-group">
                    <br>
                    {{question.question_answer}}
                </div>
                <hr>
                <br>
                {% endfor %}
                <br>
                <br>
                {% csrf_token %}
            </form>

        </div>

    </div>
    <script src="{% static 'polls/js/jquery.js' %}"></script>
    <script src="{% static 'polls/js/awselect.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('select').awselect()
        });
    </script>
</body>

{% endblock %}