{% extends 'polls/base.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/student_password.css' %}">
{% endblock %}

{% block content %}

<body style="background-image: url('{% static 'polls/images/prism.png' %}'); background-repeat: repeat"></body>
<div class="container" style="width: 25%; margin-top: 10%; color:white; font-size: 14pt; font-weight: 1000;">
    <section class="mb-5 text-center">

        <p style="margin-bottom: 5%; font-size: 24pt; color:white; font-weight: 1000;">Новый пароль для
            {{student.get_full_name}}</p>

        <form action="/students/{{student.id}}/password" id="password_form" method="POST">
            {% csrf_token %}
            <div class="md-form md-outline form-control">
                <label style="float: left; padding-right: 9%; border-right: 1px solid black">Новый пароль</label>
                {{form.password}}

            </div>
            <br>
            <div class="md-form md-outline form-control">
                <label style="float: left; padding-right: 1%; border-right: 1px solid black"">Повторите пароль</label>
                {{form.repeat_password}}

            </div>
            <br>

        </form>

        <div class="d-flex justify-content-between align-items-center mb-2">

            <u>
                <div class='quit_btn'>
                    <form action="/students/{{student.id}}">
                        <button type="submit" class='fa fa-home'></button>
                    </form>
                </div>
            </u>

            <u>
                <div>
                    <button type="submit" class='fa fa-save save_btn'
                        onclick="return confirm('Хотите установить новый пароль для {{student.username}}?');"
                        form="password_form"></button>
                </div>
            </u>

        </div>
        {% if form.errors %}
    <div style="color:red;">
        {% for field, error in form.errors.items %}
        {{error}}
        {% endfor%}
    </div>
    {% endif%}
    </section>
</div>

</body>
{% endblock content%}