{% extends 'polls/base.html' %}

{% load static %}

{% block title %}{{student.username}}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/poll_create.css' %}">
{% endblock %}

{% block content %}

<body style="background-image: url('{% static 'polls/images/prism.png' %}'); background-repeat: repeat">
    {% if form.errors %}
    <div class='div-errors container'>
        {% for field, error in form.errors.items %}
        {{error}}
        {% endfor%}
    </div>
    {% endif%}
    <div class='container group-form'>
        <div class='quit_btn'>
            <form action="/students/">
                <button type="submit" class='fa fa-home'></button>
            </form>
        </div>
        <span style="float:left; margin-left: 35%; font-weight: 1000;">{{student.username}} </span>
        <div>
            <button type="submit" class='fa fa-save save_btn' onclick="return confirm('Сохранить изменения?');"
                form="group_form"></button></div>

        <div class='div-form'>
            <form id='group_form' action="/students/student/{{student.id}}" method="POST" class='test_form'>
                <div class="group ">
                    {{form.first_name}}
                    <span class="bar"></span>
                    <label>Имя студента*</label>
                </div>
                <div class="group ">
                    {{form.last_name}}
                    <span class="bar"></span>
                    <label>Фамилия студента*</label>
                </div>                    
                <div class="group ">
                    {{form.email}}
                    <span class="bar"></span>
                    <label>Почта студента</label>
                </div>
                <div style="text-align:left; margin-left: 20%">
                    <span style="margin-left:2%; font-weight: 1000;">Группа студента:*</span>
                    <br>
                    {{form.group_id}}
                </div>
                <br>
                <br>
                {% csrf_token %}
                <input id='save_hide' type="submit" value='SaveHidden' style='display: none'>
            </form>
            <div>
                <div class='password_btn'>
                    <form action="/students/student/{{student.id}}/password">
                        <button type="submit">СМЕНИТЬ ПАРОЛЬ</button>
                    </form>
                </div>
                <div class='delete_btn'>
                    <form action="/students/student/{{student.id}}/delete">
                        <button type="submit" onclick="return confirm('Удалить студента?');">УДАЛИТЬ СТУДЕНТА</button>
                    </form>
                </div>
            </div>

        </div>

    </div>

</body>

{% endblock %}