@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');

@media (min-width: 500px) {
    .col-sm-6 {
        width: 50%;
    }
}

html,
body {
    height: 100%;
    min-height: 18em;
}


.split-pane {
    padding-top: 1em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50%;
    min-height: 9em;
    font-size: 2em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    ;
}

@media(min-width: 500px) {
    .split-pane {
        padding-top: 2em;
        height: 100%;
    }
}

.split-pane>div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.split-pane>div .text-content {
    line-height: 1.6em;
    margin-bottom: 1em;
}

.split-pane>div .text-content .big {
    font-size: 2em;
}

.split-pane>div img {
    height: 1.3em;
}

@media (max-width: 500px) {
    .split-pane>div img {
        display: none;
    }
}

.split-pane button,
.split-pane a.button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    font-size: 50pt;
    background: none;
    border: 4px solid white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 30em;
    height: 8em;
    padding: 0.7em;
    margin-bottom: 2%;
    font-size: 0.5em;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-decoration: none;
    color: white;
    display: inline-block;
    cursor: pointer;
    text-shadow: 1px 1px 2px black;
}

.split-pane button:hover,
.split-pane a.button:hover {
    text-decoration: none;
    background-color: white;
    border-color: white;
    cursor: pointer;
    text-shadow: 0px 0px 0px black;
    width: 32em;
}

.uiux-side.split-pane button:hover,
.split-pane a.button:hover {
    color: black;
}

.frontend-side.split-pane button:hover,
.split-pane a.button:hover {
    color: black;
}

#split-pane-or {
    font-size: 2em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 90%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 925px) {
    #split-pane-or {
        top: 15%;
    }
}

#split-pane-or>div img {
    height: 2.5em;
}

@media (max-width: 500px) {
    #split-pane-or {
        position: absolute;
        top: 50px;
    }

    #split-pane-or>div img {
        height: 2em;
    }
}

@media(min-width: 500px) {
    #split-pane-or {
        font-size: 3em;
    }
}

.big {
    font-size: 2em;
}

#slogan {
    position: absolute;
    width: 100%;
    z-index: 100;
    text-align: center;
    vertical-align: baseline;
    top: 0.5em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
}

@media(min-width: 500px) {
    #slogan {
        top: 5%;
        font-size: 1.8em;
    }
}

#slogan img {
    height: 0.7em;
}

.bold {
    text-transform: uppercase;
}

.big {
    font-weight: 800;
}

.button-logout {
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    background: white;
    border: 3px solid white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 30x;
    width: 10em;
    height: 3.5em;
    padding: 0.7em;
    font-size: 0.5em;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-decoration: none;
    color: black;
    display: inline-block;
    cursor: pointer;
}

.button-logout:hover {
    text-decoration: none;
    background-color: transparent;
    color: white;
    border-color: white;
    cursor: pointer;
    width: 11em;
}

.split-pane ul {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}

.split-pane:hover ul {
    visibility: visible;
    opacity: 1;
}



