body {
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: black;
    background-color: gray;
    
}


.question_div {
    border-radius: 0px;
    background-color:#373737;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


::placeholder {
    color: #a2a7cf;
}

.add_question_btn {
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid black;
    padding: 10px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.add_question_btn:hover {
    background-color: black;
    border-radius: 10px;
    border: 3px solid black;
    color: white;
}

.save_btn {
    background-color: white;
    border-radius: 0px 0px 10px 0px;
    padding: 10px;
    width: 8%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    float: left;
    font-size: 20pt;
}

.quit_btn {
    background-color: white;
    border-radius: 0px 0px 0px 10px;
    padding: 10px;
    width: 8%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    float: right;
    font-size: 20pt;
}


.quit_btn:hover {
    background-color: white;
    border-radius: 0px 0px 0px 10px;
    border: 2px solid black;
    padding: 10px;
    width: 9%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    float: right;
}

.save_btn:hover {
    background-color: #2c8a23;
    width: 9%;
}

.question_name {
    background-color: white;
    border-radius: 0px 0px 0px 10px;
    padding: 8px;
    border: 0px;
    color: black;
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    width: 100%;
}

.question_points {
    background-color: white;
    border-radius: 1px;
    padding: 8px;
    border: 0px;

    body {
        text-align: center;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 20px;
        color: #f0f0f0;
        background-color: #343542;
    }

    .question_div {
        border-radius: 10px;
        background-color: #595c74;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .test_name {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        background-color: #707492;
        border-radius: 10px;
        padding: 10px;
        border: 0px;
        color: black;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
    }

    ::placeholder {
        color: #a2a7cf;
    }

    .add_question_btn {
        background-color: #3b8bce;
        border-radius: 10px;
        padding: 10px;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }

    .add_question_btn:hover {
        background-color: #3674a7;
    }

    .save_btn {
        background-color: #31aa27;
        border-radius: 10px;
        padding: 10px;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }

    .save_btn:hover {
        background-color: #2c8a23;
    }

    .question_name {
        background-color: #707492;
        border-radius: 10px 0px 0px 10px;
        padding: 8px;
        border: 0px;
        color: black;
        font-size: 18px;
        text-align: center;
        font-weight: 600;
        width: 100%;
    }

    .remove_question_button {
        background-color: #e74242;
        border-radius: 0px 0px 10px 0px;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        text-align: center;
        padding: 7px;
    }

    .remove_question_button:hover {
        background-color: #bd3a3a;
    }

    .add_answer_btn {
        background-color: #3b8bce;
        border-radius: 10px;
        padding: 8px;
        width: 20%;
        margin-left: auto;
        font-size: 16px;
        margin-right: auto;
        cursor: pointer;
        text-align: center;
    }

    .add_answer_btn:hover {
        background-color: #3674a7;
    }

    .answer_name {
        background-color: #707492;
        border-radius: 10px 0px 0px 0px;
        padding: 7px;
        border: 0px;
        color: black;
        font-size: 16px;
        text-align: left;
        width: 100%;
        font-weight: 600;
    }

    .remove_answer_button {
        background-color: #e74242;
        border-radius: 0px 10px 10px 0px;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
        text-align: center;
        padding: 7px;
    }

    .remove_answer_button:hover {
        background-color: #bd3a3a;
    }

    .correct_checkbox {
        width: 33px;
        height: 33px;
    }

    color: #c1c7f6;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    width: 100%;
}

.remove_question_button {
    background-color: #e74242;
    border-radius: 0px 0px 10px 0px;
    cursor: pointer;
    width: 101%;
    font-size: 20px;
    text-align: center;
    padding: 7px;
}

.remove_question_button:hover {
    background-color: #bd3a3a;
}

.add_answer_btn {
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid white;
    padding: 8px;
    width: 20%;
    margin-left: auto;
    font-size: 16px;
    margin-right: auto;
    cursor: pointer;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
}

.add_answer_btn:hover {
    background-color: white;
    color: black;
}

.answer_name {
    background-color: white;
    border-radius: 0px 0px 0px 0px;3674a7
    padding: 7px;
    border: 0px;
    color: black;
    font-size: 16px;
    text-align: left;
    width: 100%;
    font-weight: 600;
}

.remove_answer_button {
    background-color: #e74242;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding: 7px;
}

.remove_answer_button:hover {
    background-color: #bd3a3a;
}

.correct_checkbox {
    width: 34px;
    height: 34px;
}

.group {
    position: relative;
    margin-bottom: 30px;
}

.group input {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 80%;
    border: none;
    border-bottom: 1px solid #ccc;
}

.group input:focus {
    outline: none;
}

.group label {
    color: #999;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.group input:focus~label,
.group input:valid~label {
    top: -15px;
    font-size: 14px;
    color: #5264AE;
}


/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 80%;
}

.bar:before,
.bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
.group input:focus~.bar:before,
.group input:focus~.bar:after {
    width: 50%;
}

.background-image {
    width: 50%;
}

.div-form {
    background-color: white;
    margin-left: 0%;
    width: 100%;
    padding-top: 5%;
}

.div-form .group{
    margin-left: 20%;

}

.group input {
    width: 80%;
    margin-top: 3%;
}

