.save_btn {
    background-color: transparent;
    border-radius: 0px 0px 10px 0px;
    padding: 10px;
    width: 15%;
    height: 100%;
    margin-left: auto;
    margin-right: 40%;
    cursor: pointer;
    float: right;
    font-size: 20pt;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.quit_btn {
    background-color: transparent;
    border-radius: 0px 0px 0px 10px;
    padding: 10px;
    width: 8%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    float: left;
    font-size: 20pt;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}


.quit_btn:hover {
    padding: 10px;
    width: 10%;
    cursor: pointer;
    font-size: 24pt;
}

.save_btn:hover {
    width: 10%;
    font-size: 24pt;
}
